{{ header }}

{{ column_left }}

<div id="content">


  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-oneall" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
    
  </div>
  

	{% if do_oa == "settings"  %}
		<form id="form-oneall" action="{{ action }}" method="post" enctype="multipart/form-data">
			<div class="container-fluid">
				<ul class="nav nav-tabs">
          <li class="menu-top active">
          	<a href="{{ action }}">
          		<i class="fa fa-wrench"></i> {{ oa_text_settings }}
          	</a>
          </li>
          <li class="menu-top ">
          	<a href="{{ action }}&amp;do=positions">
          		<i class="fa fa-puzzle-piece"></i> {{ oa_text_positions }}
          	</a>
          </li>
        </ul>                
        
        {% block alerts %}
          {# Success #}
          {% if oa_success_message is not empty %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="fa fa-cogs"></i> {{ oa_success_message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}

          {# Error #}
          {% if oa_error_message is not empty %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="fa fa-exclamation-circle"></i>{{ oa_error_message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}

          {% if module_oneall_subdomain is  empty %}
            <div role="alert" class="alert alert-success alert-dismissible fade show" role="alert">{{ oa_text_api_setup_welcome }}</div>
          {% endif %}
        {% endblock %}
  
			<div class="card panel-default">
			<div class="card-header">
				<h3 class="panel-title">
					<i class="fa fa-plug"></i>
					{{ oa_text_api_communication }}
				</h3>
			</div>
			<div class="card-body">

				{% if module_oneall_subdomain is  empty %}
					<div role="alert" class="alert alert-info">{{ oa_text_api_setup }}</div>
				{% endif %}

				<div class="well">
					<div class="row">
						<div class="col-sm-2">
							<label for="input-name" class="control-label">
								{{ oa_text_api_handler }}
							</label>
							<select name="module_oneall_api_handler" id="module_oneall_api_handler" class="form-control">
								<option value="crl" {% if module_oneall_api_handler != "fso" %}selected="selected"{% endif %}>{{ oa_text_api_curl }}</option>
								<option value="fso" {% if module_oneall_api_handler == "fso" %}selected="selected"{% endif %}>{{ oa_text_api_fsockopen }}</option>
			              </select>
						</div>
						<div class="col-sm-2">
							<label for="input-model" class="control-label">
								{{ oa_text_api_protocol }}
							</label>
							<select name="module_oneall_api_port" id="module_oneall_api_port" class="form-control">
								<option value="443" {% if module_oneall_api_port != "80" %}selected="selected"{% endif %}>{{ oa_text_api_port_443 }}</option>
								<option value="80" {% if module_oneall_api_port == "80" %}selected="selected"{% endif %}>{{ oa_text_api_port_80 }}</option>
			              </select>
						</div>
					</div>
					 <div class="row mt-2">
					 	<div class="col-sm-4">
					 		<div id="module_oneall_api_autodetect_result"></div>
					 	</div>
					</div>
					<div class="row mt-1 mb-4">
						<div class="col-sm-2">
					 		<button type="button" class="btn btn-success" id="module_oneall_api_autodetect">{{ oa_text_api_autodetect }}</button>
					 	</div>
					 </div>
				</div>

				<div class="well">
					<div class="row mb-1">
						<div class="col-sm-12">
							<a href="https://app.oneall.com/" target="_blank">{{ oa_text_api_create_view }}</a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-4">
							<label for="input-name" class="control-label">
								{{ oa_text_api_subdomain }}
							</label> <input type="text" class="form-control" value="{{ module_oneall_subdomain }}" id="module_oneall_subdomain" name="module_oneall_subdomain" autocomplete="off">
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-4">
							<label for="input-model" class="control-label">
								{{ oa_text_api_public_key }}
							</label> <input type="text" class="form-control" value="{{ module_oneall_public }}" id="module_oneall_public" name="module_oneall_public" autocomplete="off">
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-4">
							<label for="input-model" class="control-label">
								{{ oa_text_api_private_key }}
							</label> <input type="text" class="form-control" value="{{ module_oneall_private }}" id="module_oneall_private" name="module_oneall_private" autocomplete="off">
						</div>
					</div>
					 <div class="row mt-2">
					 	<div class="col-sm-4">
					 		<div id="module_oneall_api_verify_result"></div>
					 	</div>
					</div>
					<div class="row mt-1 mb-4">
						<div class="col-sm-2">
							<button type="button" class="btn btn-success" id="module_oneall_api_verify">{{ oa_text_api_verify }}</button>
					 	</div>
					</div>
				</div>
			</div>

			<div class="card-header">
				<h3 class="panel-title">
					<i class="fa fa-cog"></i>
					{{ oa_text_settings }}
				</h3>
			</div>

			<div class="card-body">
				<div class="well">
					<div class="row mb-2">
						<div class="col-sm-2">
							<label for="input-name" class="control-label">
								{{ oa_text_plugin_status }}
							</label>
							<select name="module_oneall_status" class="form-control">
								<option value="1" {% if module_oneall_status == "1" %}selected="selected"{% endif %}>{{ oa_text_plugin_enabled }}</option>
								<option value="0" {% if module_oneall_status == "0" %}selected="selected"{% endif %}>{{ oa_text_plugin_disabled }}</option>
			              </select>
			            </div>
						<div class="col-sm-4">
							<label for="input-name" class="control-label">
								{{ oa_text_plugin_language }}
							</label>
							<select name="module_oneall_store_lang" class="form-control">
								<option value="0" {% if module_oneall_store_lang == "0" %}selected="selected"{% endif %}>{{ oa_text_plugin_language_app }}</option>
								<option value="1" {% if module_oneall_store_lang == "1" %}selected="selected"{% endif %}>{{ oa_text_plugin_language_opc }}</option>
			              </select>
			            </div>
			         </div>
			         <div class="row mb-2">
			         	<div class="col-sm-6">
							<label for="input-name" class="control-label">
								{{ oa_text_loading }}
							</label>
							<select name="module_oneall_deferred_loading" class="form-control">
								<option value="0" {% if module_oneall_deferred_loading == "0" %}selected="selected"{% endif %}>{{ oa_text_loading_head }}</option>
								<option value="1" {% if module_oneall_deferred_loading == "1" %}selected="selected"{% endif %}>{{ oa_text_loading_deferred }}</option>
			              </select>
			              <small class="form-text text-muted">{{ oa_text_loading_help }}</small>
			            </div>
			         </div>
				</div>
			</div>

			<div class="card-header">
				<h3 class="panel-title">
					<i class="fa fa-user"></i>
					{{ oa_text_account_creation }}
				</h3>
			</div>
			<div class="card-body">
				<div class="well">
					<div class="row mb-2">
						<div class="col-sm-6">
							<label for="input-name" class="control-label">
								{{ oa_text_account_creation_desc }}
							</label>
							<select name="module_oneall_auto_account" class="form-control">
								<option value="0" {% if module_oneall_auto_account == "0" %}selected="selected"{% endif %}>{{ oa_text_account_creation_form }}</option>
								<option value="1" {% if module_oneall_auto_account == "1" %}selected="selected"{% endif %}>{{ oa_text_account_creation_auto }}</option>
			              </select>
			            </div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-6">
							<label for="input-name" class="control-label">
								{{ oa_text_account_creation_address }}
							</label>
							<select name="module_oneall_ask_address" class="form-control">
								<option value="0" {% if module_oneall_ask_address == "0" %}selected="selected"{% endif %}>{{ oa_text_account_creation_address_no }}</option>
								<option value="1" {% if module_oneall_ask_address == "1" %}selected="selected"{% endif %}>{{ oa_text_account_creation_address_yes }}</option>
			              </select>
			            </div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-6">
							<label for="input-name" class="control-label">
								{{ oa_text_account_link_desc }}
							</label>
							<select name="module_oneall_auto_link" class="form-control">
								<option value="1" {% if module_oneall_auto_link == "1" %}selected="selected"{% endif %}>{{ oa_text_account_link_on }}</option>
								<option value="0" {% if module_oneall_auto_link == "0" %}selected="selected"{% endif %}>{{ oa_text_account_link_off }}</option>
			              </select>
			            </div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-6">
							<label for="input-name" class="control-label">
								{{ oa_text_account_customer_group }}
							</label>
							<select name="module_oneall_customer_group" class="form-control">
								<option value="store_config" {% if oa_customer_group_selected == "store_config" %}selected="selected"{% endif %}>
									{{ oa_text_account_customer_group_default }}
								</option>
								{% for customer_group in oa_customer_groups %}
									<option value="{{ customer_group.customer_group_id }}" {% if oa_customer_group_selected == customer_group.customer_group_id %}selected="selected"{% endif %}>
										{{ customer_group.name }}
									</option>
								{% endfor %}
			              </select>
			            </div>
					</div>

				</div>
			</div>

			<div class="card-header">
				<h3 class="panel-title">
					<i class="fa fa-users"></i>
					{{ oa_text_social_networks }}
				</h3>
			</div>
			<div class="card-body">
				<div role="alert" class="alert alert-info">{{ oa_text_social_network_icons }}</div>

					<div class="row">

						{% set oa_enabled_social_networks = module_oneall_socials|split(',') %}


			 			{# Display #}
			 			{% for oa_key,oa_name in oa_social_networks %}

							{% set oa_social_network_enabled = oa_key in oa_enabled_social_networks ? true : false %}

							<div class="col-sm-3 oa_social_login_provider_toggle {% if oa_social_network_enabled %}enabled{% else %}disabled{% endif %}">
								<div class="well">
									<div class="row">
										<div class="col-sm-1">
											<span class="oa_social_login_provider oa_social_login_provider_{{ oa_key }}"></span>
										</div>
										<div class="col-sm-4">
                                            <div class="form-check form-switch">											
												<input type="checkbox" value="1" id="module_oneall_social_networks_{{ oa_key }}" name="module_oneall_social_networks[{{ oa_key }}]" class="form-check-input" {% if oa_social_network_enabled %}checked="checked"{% endif %}>
                                                <label class="form-check-label" for="module_oneall_social_networks_{{ oa_key }}">{{ oa_name }}</label>
                                            </div>
										</div>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>
                </div>
			</div>
		</div>
	</div>
</form>

	{% else %}
			<div class="container-fluid">
				<ul class="nav nav-tabs">
					<li class="menu-top"><a href="{{ action }}"> <i class="fa fa-wrench"></i> {{ oa_text_settings }}</a></li>
					<li class="menu-top active"><a href="{{ action }}&amp;do=positions"> <i class="fa fa-puzzle-piece"></i> {{ oa_text_positions }}</a></li>
				</ul>
  
                {# Alerts #}
                {{ block('alerts') }}

				<div class="card panel-default">
					<div class="card-header">
						<h3 class="panel-title">
							<i class="fa fa-plus-square"></i>
							{{ oa_text_add_to_a_position }}
						</h3>
					</div>
					<div class="card-body">
						<form id="form-layout" action="{{ action }}&amp;do=positions" method="post" enctype="multipart/form-data">
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-striped">
										<thead>
											<tr>
												<td class="text-center col-sm-3">{{ oa_text_layout }}</td>
												<td class="text-center col-sm-3">{{ oa_text_position }}</td>
												<td class="text-center col-sm-3">{{ oa_text_sort_order }}</td>
												<td class="text-center col-sm-3">&nbsp;</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center col-sm-3">
													<select name="oa_layout_id">

														{% set oa_i = 1 %}
														{% for oa_oc_layout in oa_oc_layouts %}

															<option value="{{ oa_oc_layout.layout_id }}" {% if oa == "1" %}selected="selected"{% endif %}> {{ oa_oc_layout.name }}</option>
	 													{% endfor %}
													</select>
												</td>
												<td class="text-center col-sm-3">
													<select name="oa_position">
														<option value="content_top" selected="selected">Content Top</option>
														<option value="content_bottom">Content Bottom</option>
														<option value="column_left">Colum Left</option>
														<option value="column_right">Colum Right</option>
													</select>
												</td>
												<td class="text-center col-sm-3">
													<select name="oa_sort_order">
														{% for oa_i in 1..99 %}
															<option value="{{ oa_i }}" {% if oa_i == "1" %}selected="selected"{% endif %}>{{ oa_i }}</option>
														{% endfor %}
													</select>
												</td>
												<td class="text-center col-sm-3">
													<button class="btn btn-info" type="submit">
														<i class="fa fa-plus-circle"></i> {{ oa_text_add_position }}
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card panel-default">
					<div class="card-header">
						<h3 class="panel-title">
							<i class="fa fa-check-square"></i>
							{{ oa_text_current_positions }}
						</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-striped">
									<thead>
										<tr>
											<td class="text-center col-sm-3">{{ oa_text_layout }}</td>
											<td class="text-center col-sm-3">{{ oa_text_position }}</td>
											<td class="text-center col-sm-3">{{ oa_text_sort_order }}</td>
											<td class="text-center col-sm-3">&nbsp;</td>
										</tr>
									</thead>
									<tbody>
										{% if oa_oc_positions is not empty and oa_oc_positions is iterable and oa_oc_positions|length > 0 %}
											{% for oa_oc_position in oa_oc_positions %}
												<tr>
													<td class="text-center col-sm-3">
														{{ oa_oc_position.name }}
													</td>
													<td class="text-center col-sm-3">
														{{ oa_oc_position.position|replace({'_': " "})|capitalize }}
													</td>
													<td class="text-center col-sm-3">
														{{ oa_oc_position.sort_order }}
													</td>
													<td class="text-center col-sm-3">
														<a href="{{ action }}&amp;do=positions&remove={{ oa_oc_position.layout_module_id}}" class="btn btn-danger" type="button">
															<i class="fa fa-plus-circle"></i> {{ oa_text_remove_position }}
														</a>
													</td>
												</tr>
											{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
					<div class="card panel-default">
						<div class="card-header">
							<h3 class="panel-title">
								<i class="fa fa-code"></i>
								{{ oa_text_position_manual }}
							</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="well">
										<label class="control-label">{{ oa_text_position_add_widget }}</label><br/>

										{{ oa_text_position_add_widget_example }}<br>

									</div>

									<div class="well">
										<label class="control-label">{{ oa_text_position_add_button }}</label><br/>

										{{ oa_text_position_add_button_example }}<br>

									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
			</div>
	{% endif %}
</div>



<script type="text/javascript">
	var oaL10n = {};
	oaL10n.token =  '{{ user_token }}';
	oaL10n.working = '{{ oa_text_ajax_working }}';
</script>


{{ footer }}
